{% extends 'base.html' %}
{% load static %}


{% block title %}
    Home
{% endblock title %}
    

{% block body %}
<section class="container mx-auto">
  <div class="bg-about items-center flex flex-col">

    <h1 class="text-4xl font-bold mb-10">Who Are We?</h1>
    <div class="flex flex-col lg:flex-row items-center justify-center">
      <p class="max-w-[700px] mb-6 lg:mb-0 lg:mr-10">
        Modern Real Estate is a cutting-edge digital platform revolutionizing the
        way people buy, sell, and rent properties. Our mission is to connect
        buyers, sellers, and renters with their dream properties through a
        seamless and efficient online experience.
      </p>
      <!-- <img
      src="{% static 'images/img6.jpg' %}"
      alt="Modern house"
      class="w-full max-w-[500px] h-auto"
      /> -->
    </div>
  </div>
  
    <h2 class="text-4xl font-bold mt-16 mb-10">What We Stand For</h2>
    <p class="mb-8">
      At Modern Real Estate, we believe in making real estate transactions as
      simple and transparent as possible. Our goal is to empower our users with
      the tools and information they need to make informed decisions.
    </p>
  
    <h2 class="text-4xl font-bold mt-16 mb-10">Our Story</h2>
    <p class="mb-8">
      We were founded by a team of real estate and technology experts. Modern
      Real Estate was born out of a passion for innovation and a desire to
      transform the real estate industry. We recognized the need for a more
      user-friendly and data-driven approach to property transactions, leading to
      the creation of our platform.
    </p>
  
    <h2 class="text-4xl font-bold mt-16 mb-10">What We Offer</h2>
    <p class="mb-8">
      Our platform offers a comprehensive suite of tools for property search,
      listings management, market analysis, and transaction support. Whether
      you're a first-time homebuyer, a seasoned investor, or a real estate agent,
      Modern Real Estate provides everything you need to navigate the market with
      confidence.
    </p>
  
    <h2 class="text-4xl font-bold mt-16 mb-10">Why Choose Us</h2>
    <p class="mb-8">
      What sets Modern Real Estate apart is our commitment to innovation and
      user-centric design. We continually enhance our platform based on user
      feedback, ensuring that we meet the evolving needs of the modern real
      estate market.
    </p>
    <p>
      Join the Modern Real Estate community today and discover how we can help
      you find the perfect property. Start your search now or contact us to learn
      more about our services.
    </p>
  </section>
  
{% endblock body %}
