{% load static %}
<footer>
  <div class="footer-container">
    <div class="foot">
      <div class="footer-newsletter">
        <div class="footer-logo">
          <img src="/images/logo.png" %}" alt="Company Logo">
        </div>
        <p>
          Subscribe to our newsletter for the latest updates on new features and
          product releases.
        </p>
        <div class="newsletter-form">
          <input type="email" placeholder="Enter your email" />
          <button>Subscribe</button>
        </div>
        <p>© 2024 Real Estate Website. All rights reserved.</p>
      </div>
      <div class="footer-links">
        <div class="link-group">
          <h4>Company</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Virtual Tours</a></li>
          </ul>
        </div>
        <div class="link-group">
          <h4>Explore</h4>
          <ul>
            <li><a href="#">Listings</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
          </ul>
        </div>
        <div class="link-group">
          <h4>Follow Us</h4>
          <ul class="social-links">
            <li>
              <a href="#"
                ><img
                  src="{% static '/images/face.png' %}"
                  alt="Facebook"
                />Facebook</a
              >
            </li>
            <br />
            <li>
              <a href="#"
                ><img
                  src="{% static '/images/insta.jpg' %}"
                  alt="Instagram"
                />Instagram</a
              >
            </li>
            <br />
            <li>
              <a href="#"
                ><img src="{% static '/images/x.webp' %}" alt="Twitter" /> X
              </a>
            </li>
            <br />
            <li>
              <a href="#"
                ><img
                  src="{% static '/images/linkedn.png' %}"
                  alt="LinkedIn"
                />LinkedIn</a
              >
            </li>
            <br />
            <li>
              <a href="#"
                ><img
                  src="{% static '/images/YouTube.jpeg' %}"
                  alt="YouTube"
                />YouTube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
