{% load static %}
<header class="fixed top-0 ">
  <div class="container">
    <div class="logo">
      <!-- Company icon/logo -->
      <img src="{% static '/images/logo.png' %}" alt="Company Logo" />

      <nav>
        <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/tours">Virtual Tours</a></li>
          <li><a href="/listings">Listings</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <ul class="action-buttons">
            <li>
              <a href="/auth/login">
                <button class="btn-primary">Log In</button>
              </a>
            </li>
            <li>
              <a href="/auth/signup">                
                <button class="btn-secondary">Sign Up</button></li>
              </a>
          </ul>
        </ul>
      </nav>
    </div>
  </div>
</header>
