{% load static %}
<header class="fixed top-0">
  <div class="container">
    <div class="logo">
      <!-- Company icon/logo -->
      <img src="{% static '/images/logo.png' %}" alt="Company Logo" />

      <nav>
        <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/properties">Virtual Tours</a></li>
          <li><a href="/properties">Listings</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <ul class="action-buttons">
            {% if request.user.is_authenticated %}
            <li>
              <a href="/auth/logout">
                <button class="btn-primary">Log Out</button>
              </a>
            </li>
            {% else %}
            <li>
              <a href="/auth/login">
                <button class="btn-primary">Log In</button>
              </a>
            </li>
            <li>
              <a href="/auth/signup">
                <button class="btn-secondary">Sign Up</button></li>
              </a>
            </ul>
            {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
